*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-style: italic;
    font-weight: bold;
}

h1{font-size: 54px; cursor: default;}
h2{font-size: 40px; text-align: center;}
h3{font-size: 32px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 8px;}

/*#sobreOSite{
    background-color: #96C2F9;
    color: black;
    margin: 0px 0px;
    padding: 75px 10px;
    text-align: center;
    border-radius: 100px;
    border-style: solid;
    border-color: #2ACAFE;
    opacity: 0.9;
    margin-left:400px;
    margin-right:400px;

}*/

/*body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(lightskyblue));
    background-image: -webkit-linear-gradient(top, lightgrey, lightskyblue);
    background-image: -moz-linear-gradient(top, lightgrey, lightskyblue);
    background-image: linear-gradient(to bottom, lightgrey, lightskyblue);
}*/

a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    margin: 10px;
}

#indice ul{
    padding: 0px;
    margin: 0px;
    background-color: inherit;
    list-style: none;
    padding-top: 25px;
}

#indice ul li{
    display: inline;
}

#indice ul li a{
    padding: 2px 10px;
    display: inline-block;

    background-color: #9DE2F8;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid #B3EAFE;
}

#indice ul li a:hover{
    background-color: rgba(0, 255, 255, 0.11);
    color: #00414F;
    border-bottom: 3px solid lightskyblue;
    transition: 0.4s;
}

#footerHome{
    display: flex;
    right: 0;
    bottom: 0;
    position: fixed;
}

blockquote:before {
    color: black;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote{
    border-left-width: 4px;
    border-color: black;
    border-left-style: solid;
    border-left-color: blue;
    background-color: #A2D3FF;
    margin: 2px 10px;
    padding: 20px 30px;
    font-style: italic;
    line-height: 22px;
    color: #000000;
}

#copiaArtigo {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    background: white;
}

#footerText{
    bottom: 15%;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    color: orange;
}

#footerText p{
    flex: 1;
    text-align: center;
}

#footerText p:nth-child(2){
    flex: 2;
}

input[type=password], input[type=text], input[type=email] {
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid #42A5F5;
    outline: none;
    margin-bottom: 16px;
    padding: 8px 32px 8px 16px;
    width: 200px;
    transition: transform 0.4s;
    
}

/*input[type=email]{
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid #42A5F5;
    outline: none;
    margin-bottom: 16px;
    padding: 8px 32px 8px 16px;
    width: 200px;
    transition: width 0.4s;
    
}*/
input[type=radio]{
    width: 16px;
    
}

.textocima{
    padding: 2px;    
    }

input{
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid #42A5F5;
    outline: none;
    margin-bottom: 16px;
    padding: 8px 32px 8px 16px;
    width: 200px;
    
}

input[type=password]:focus, input[type=text]:focus, input[type=email]:focus{
    padding: 8px 32px 2px 16px;
    border-color: #0048FF;
    /* width: 400px; */

    transform: scale(1.2);
}



input[type=date] {
    border-style: solid;
    border-color: rgba(66, 165, 245, 0.54);
    background: transparent;
    padding: 3px;
    margin: 2px;
}

#promoVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

#footerHomeP{
    position: fixed;
    bottom: 0px;
   text-align: right;
   width: 100%;
}

#battlegrounds {
    position: absolute;
    bottom: 47%;
    left: 37%;
    width: 28%;
    height: 19%;
    background-size: 100%;
    opacity: 0.3;
    z-index: 1;
}

#navegacao {
    left: 0;
    position: absolute;
    top: 0;
    margin: 8px;
}

#rodape {
    position: inherit;
    left: 0;
    margin: 10px;
}

#rodapecad {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
}

#footerHomeCad {
    position: fixed;
    right: 0;
    bottom: 0;
}

 #pagcad{
    background: url(img/steamback.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#bgindex{
    background: url(img/steamwp.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section#cadastro {
    text-align: center;
    margin: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#linkCad{
    color: white;
}

#navegacao a{
    color: #00FFFF;
    background: rgba(30, 124, 165, 0.25);
    padding: 2px;
}

#navegacao a:hover{
    background: rgba(0, 0, 0, 0.25);
    border-left: 5px solid rgb(0, 144, 220);
    padding: 5px;
    display: inline;
    transition: 0.5s;
}


#p1, #p2, #p3{
    font-family: Garamond;
    font-size: 23px;
    font-style: oblique;
}

img#imgSteam {
    width: 100%;
}

@media (max-width:1018px){
    img#logoSF{
        display: none;
    }
}

@media (max-width:700px){
    nav{
    inline-size: auto;
    align-items: flex-start
    }
    #indice{
        display: none;
    }
}

#fonte{
    max-width: 100%;
}
/* #p1{
    position: absolute;
    text-align: left;
    bottom: 0px;
    width: 90%;
    z-index: 2;
    color: red;
}

#p2{
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 90%;
    z-index: 2;
    color: red;
}

#p3{
    position: absolute;
    text-align: right;
    bottom: 0px;
    width: 90%;
    z-index: 2;
    color: red;
} */